BasedOnStyle: LLVM

Language: Cpp

IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100

AllowShortFunctionsOnASingleLine: None
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterStruct: true
  AfterEnum: true

AlignAfterOpenBracket: Align
AlignOperands: true
SpaceAfterCStyleCast: true
SpaceBeforeParens: ControlStatements

# Сортировка инклудов
SortIncludes: true